@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Know about <a asp-controller="Laptops" asp-action="Index">New released laptops</a>.</p>
</div>
